.remove-top-title {
  margin-top:0em;
}

.remove-botton-title {
  margin-bottom:0em;
}

.snack-select:hover {
  background-color: #1976d2;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.label-quantity {
  display:inline-table;
  padding-right: 15px;
}

.label-name {
  display:block;
}

.label-info {
  display:block;
  padding-bottom: 10px;
}

table {
  width: 100%;
}


