<!-- PROMOÇOES -->
<div id="promocao" *ngIf="true" style="margin-top: 20px; margin-left: 10px">
  <h2>Promoções disponíveis</h2>
  <ul>
      <li *ngFor="let sale of availableSales">
        <label class="label-name">Nome: <b>{{sale.name}}</b></label>
        <label class="label-info">Descrição: {{sale.description}}</label>
      </li>
  </ul>
</div>

<!-- LISTA DE LANCHES -->
<h2 class="remove-botton-title">Lanches disponíveis</h2>
<h4 class="remove-top-title">(Clique no lanche para ver detalhes)</h4>
<ul>
    <li *ngFor="let name of snacksNames" (click)="onSelect(name)" class="snack-select">
        {{name}}
    </li>
</ul>


<!-- INGREDIENTES DO LANCHE -->
<div id="ingredients" *ngIf="selectedSnack != null">
  <h2>
    <label>Ingredientes do Lanche</label>
  </h2>

  <app-ingredient-table
    [snack]="selectedSnack"
    [sales]="availableSales"
    [listIngredients]="allIngredients" >
  </app-ingredient-table>

</div>

